* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Overlock SC', cursive !important; */
}

.app {
    display: flex;
    width: 100%;
    min-height:100%;
    background-color:red;
}
.contenedor-video{
    display:flex;
    height:100vh;
    width:100%;
    background-color:red;
}
.contenedor-home{
    display:flex;
    width:100% !important;
    height:100% !important;
    background-color:rebeccapurple !important;
}
.contenedor-video{
    width:100%;
    height:100%;
}
.reproductor-video{
    display:flex;
    margin:0px;
    padding:0px;
    object-fit:cover;
}
.contenedor-home{
    display:flex;
    height:20vh;
    width:30vw;
    background-color:red;
    border:solid 1px black;
}