* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Overlock SC', cursive !important; */
}

.app {
    display: flex;
    flex-direction:column;
    width: 100%;
    min-height:100%;
    background-color:#550065;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color:#452a46 !important;
    opacity:80%;
}
a{
    text-decoration:none !important;
}
.css-1q39md6-MuiButtonBase-root-MuiButton-root{
    text-decoration:none !important;
}
.reproductor-video{
    margin-top:1rem;
    object-fit:cover;
    width:100%;
}

.container-componente-home{
    display:flex;
    flex-direction:row;
    height:100vh;
}
.container-callToAction{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50vw;
    height:50vh;
}
.container-carousel{
    display:flex;
    justify-content:center;
    width:50vw;
}
.callToAction {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
    font-size: 17px;
    background: #333;
    border: none;
    color: #fff;
  }
  
  .callToAction:hover {
    letter-spacing: 0.25em;
    background: #ff1867;
    color: #ff1867;
    box-shadow: 0 0 45px #ff1867;
  }
  
  .callToAction::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222222;
  }
  
  .callToAction span {
    position: relative;
    z-index: 1;
  }
  
  .callToAction i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .callToAction i::before {
    content: '';
    position: absolute;
    border: 2px solid #ff1867;
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  .callToAction:hover i::before {
    width: 20px;
    left: 20%;
  }
  
  .callToAction i::after {
    content: '';
    position: absolute;
    border: 2px solid #ff1867;
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  
  .callToAction:hover i::after {
    width: 20px;
    left: 80%;
  }