* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Overlock SC', cursive !important; */
}

.app {
    display: flex;
    flex-direction:column;
    width: 100%;
    min-height:100%;
}
.reproductor-video{
    margin-top:1rem;
    object-fit:cover;
    width:100%;
}
