* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Overlock SC', cursive !important; */
}

.App {
    display: flex;
    width: 100%;
}
.holaa{
    display:flex;
    height:15vh;
    width:30vw;
    background-color:red;
}